# Desktop Dependencies

1. `libavcodec-dev`
2. `libavformat-dev`
3. `libavutil-dev`
4. `libswscale-dev`
5. `ffmpeg`
6. `mpv`
7. `vlc`
FreeSimpleGUI
yt-dlp
ffmpeg-python

# Instructions
#Install these dependencies using the package manager for your operating system.